*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    
}
/* nav */
nav{
    padding: 20px 0px;
    margin: auto;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav img{
    width: 150px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 24px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
}
nav ul li a.current{
    border-radius: 8px;
    padding: 5px;
    border: 2px solid #7DCE13;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7DCE13;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:active{
    color: #7DCE13;
}

/* Main About */
main{
    margin-top: 50px;
}
main #about{    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.container-about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container-about #about{
    width: 75%;
}
.foto-about{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.foto-about img{
    width: 200px;
}
.keterangan-about{
    width: 65%;
}
.keterangan-about h2{
    color: #7DCE13;
    font-size: 40px;
}
.keterangan-about h3{
    font-size: 20px;
}
.toolbox h3{
    font-size: 24px;
}
.item-toolbox{
    display: flex;
    flex-direction: column;
}
.item-toolbox h1{
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.toolbox1 i{
    padding-right: 12px;
    font-size: 36px;
}
.toolbox1{
    padding-top: 16px;
    display: flex;
    align-items: center;
}
main .container1{    
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sosial-Media a{
    font-size: 24px;
    color: black;
}
/* footer */
footer .container{
    display: flex;
    justify-content: center;
}
